
body, h1, {
  margin: 0px;
  padding: 0px;
}

body {
    background-color: E5E5E5;
    display: flex;
    align-items: start;
    width: 1024px;
    height: 1440px;
}
.name {
  position: absolute;
  width: 606px;
  height: 43px;
  left: 368px;
  /* top: 0px; */
  font-family: 'Inter';
  font-style: normal;
  /* font-weight: 700; */
  font-size: 20px;
  line-height: 39px;
  color: #646464;
  mix-blend-mode: normal;
}
.container {
  background: #424953;
  /* width: 360px;
  height: 1440px;
  /* display: flex; */
  /* align-items: start; */
  position: absolute;
  width: 360px;
  height: 1440px;
  left: 0px;
  top: 0px;
  
}

img {
position: absolute;
width: 244px;
height: 236px;
left: 33px;
top: 54px;
border-radius: 118px;
}


h1 {
  color: #646464;
  display: block;
  font-size: 2em;
  margin-block-start: 0.67em;
  margin-block-end: 0.67em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  font-weight: bold;
}

.lineTwo {
  width: 636px;
  border: 1px solid #E7E7E7 ;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.lineOne {
position: absolute;
width: 292.06px;
height: 0px;
left: 18px;
top: 365px;
border: 2px solid #8D939B;
}

.lineThree {
position: absolute;
width: 292.06px;
height: 0px;
left: 18px;
top: 820.06px;
border: 2px solid #8D939B;
}

.endereco {
  position: absolute;
  width: 314px;
  height: 69.59px;
  left: 20px;
  top: 421.41px;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  color: #ECEFF1;
}

.telefone {
position: absolute;
width: 157px;
height: 18.78px;
left: 20px;
top: 524.69px;
font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 19px;
color: #ECEFF1;
}

.email {
position: absolute;
width: 195px;
height: 19px;
left: 20px;
top: 587px;
font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 19px;
color: #ECEFF1;
}

.linkedIn {

  position: absolute;
width: 398px;
height: 21.96px;
left: 20px;
top: 654.04px;
font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 19px;
color: #ECEFF1;

}

.linkedIn a {
  text-decoration:none;
  color: #ECEFF1;
}

.github {

position: absolute;
width: 398px;
height: 21.96px;
left: 20px;
top: 726.04px;
font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 19px;
color: #ECEFF1;
}

.github a {
  text-decoration:none;
  color: #ECEFF1;
}

.label {
  font-weight: bold
}
